

  <p>
    <mat-toolbar color="a">
      <mat-toolbar-row>
        <span class="Title">MISS OUT</span>
        <!-- <img src="https://media.istockphoto.com/id/1206806317/vector/shopping-cart-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=1RRQJs5NDhcB67necQn1WCpJX2YMfWZ4rYi1DFKlkNA=" alt=""> -->
        <span class="example-spacer"></span>
        <!-- <div class="list">
          <h1>San pham</h1>
          <h1>About us</h1>
          <h1>Blogs</h1>
          <h1>Lien he</h1>
          <h1>Tuyen dung</h1>
        </div> -->
        
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
 
        </button>
      </mat-toolbar-row>
  
      <mat-toolbar-row>
        <!-- <span>Second Line</span> -->
        <span class="example-spacer"></span>
        <button mat-icon-button class="search" aria-label="Example icon-button with heart icon">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHkAAAB5CAMAAAAqJH57AAAAYFBMVEX///8AAAD6+vrU1NTw8PA7Ozs2Njb09PQaGhrX19epqanJyclVVVWLi4u2trZHR0dwcHB7e3tNTU0ODg6bm5vk5ORjY2MfHx9eXl6BgYGioqLe3t5BQUGRkZHDw8MtLS05xcbNAAABsUlEQVRoge2X27qCIBBGBVGsPOXZrN37v+VmJHdlcufQvvjXlcH3sRoYGAgCAAAAAAAAAAAAAAAAWKHysRBCxOVl8uoNO/Ekzr151Vm8Ux38iMPoEWvaDdfafh99iE+zLGoOyvzQbZ7O6hu/OJzFF/1s+blTS8MtVjTV/fu66oHUJ2bzaByJWrdSqie84gNF95nJsmCf79JhCCloyShWtJn0Vg9tcc4TJXdOKi3DmdGcmfHDzR5pcj5inG5zatw/EttiMqBu+cy9EKkjsGYz6XfDjD44ui7OhdiF78VcmU3lWGfaVozrTGfn9h1Emj91Z8zto7MUt6an5BPP41ebkd24rweF45BsE9PhyIB9+NkskrZMjpxiq/icbzpV681Ksh8TTWu1kpBYXHnFtlyJ+PXq0z4u3x1nfSaaWVOebNxyyurl2s2uPlpP3423rCxeb/zs6ilevTGSpaFjNpuw39yZlOnjc+CO2rw0sqqnrRSVOS24GvypA6nbqVWLSC9Rp/zmFX9qDy+sFVQn55z3bg60Vcf+zYGeN7eXp/QaOYr+K2IAAAAAAAAAAAAAAMC/5Bc2aQz1Jh+/jgAAAABJRU5ErkJggg">
        </button>
        <button mat-icon-button class="trolley" aria-label="Example icon-button with share icon">
          <img src="https://media.istockphoto.com/id/1206806317/vector/shopping-cart-icon-isolated-on-white-background.jpg?s=612x612&w=0&k=20&c=1RRQJs5NDhcB67necQn1WCpJX2YMfWZ4rYi1DFKlkNA=">
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p> 

 