.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    display: flex;
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }